<%= form_with model: [:admin, subject], local: true do |form| %>
  <%= render "shared/error", object: subject %>

  <div class="field">
    <%= form.label :name, t("subject.index.name") %>
    <%= form.text_field :name, id: :subject_name %>
  </div>

  <div class="field">
    <%= form.label :content, t("subject.index.content") %>
    <%= form.text_area :content, id: :subject_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
