<h1><%= t "subject.index.title" %></h1>
<table>
  <thead>
    <tr>
      <th><%= t "subject.index.name" %></th>
      <th><%= t "subject.index.content" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, [:admin, subject] %></td>
        <td><%= subject.content %></td>
        <% if can? :update, subject %>
          <td><%= link_to t("subject.index.edit"),
            edit_admin_subject_path(subject) %></td>
          <td><%= link_to t("subject.index.destroy"), [:admin, subject],
            method: :delete, data:{confirm: t("subject.index.confirm")} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if can? :update, @subject %>
  <%= link_to t("subject.index.new"), new_admin_subject_path %>
<% end %>
