<table>
  <thead>
    <tr>
      <th><%= t "admin.subjects.name" %></th>
      <th><%= t "admin.subjects.content" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, [:admin, subject],
          class: "chapter" %></td>
        <td><%= subject.content %></td>
        <% if can? :update, subject %>
          <td><%= link_to t("edit"),
            edit_admin_subject_path(subject), class: "btn btn-info" %></td>
          <td><%= link_to t("destroy"), [:admin, subject],
            method: :delete, data:{confirm: t("confirm")},
              class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if can? :update, @subject %>
  <%= link_to t("new"), new_admin_subject_path,
    class: "btn btn-success" %>
<% end %>
