<p>
  <strong><%= t "subject.index.name" %></strong>
  <%= @subject.name %>
</p>

<p>
  <strong><%= t "subject.index.content" %></strong>
  <%= @subject.content %>
</p>
<div>
  <% @chapters.each do |chapter| %>
    <li><%= link_to chapter.name,
      admin_subject_chapter_path(@subject, chapter) %></li>
  <% end %>
</div>
<div>
  <%= link_to t("subject.edit.back"), admin_subjects_path %>
  <%= link_to t("subject.edit.new"),
    new_admin_subject_chapter_path(@subject) %>
  <%= link_to t("subject.edit.manage_chapter"),
    admin_subject_chapters_path(@subject) %>
</div>
