<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= @subject.name %></h2>
</div>

<p>
  <strong><%= @subject.content %></strong>
</p>

<%= render @subject.chapters, subject: @subject %>

<br/>
<div>
  <center>
    <%= link_to t("back"), admin_subjects_path,
      class: "btn btn-default back" %>
    <%= link_to t("admin.chapters.manage"),
      admin_subject_chapters_path(@subject), class: "btn btn-info manage" %>
    <%= link_to t("new"),
      new_admin_subject_chapter_path(@subject),
      class: "btn btn-success subject1" %>
  </center>
</div>
