<% provide :title, t("sessions.new.title") %>
<h2><%= t "sessions.new.title" %></h2>

<%= form_for(resource, as: resource_name,
  url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, t("users.new.email") %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, t("users.new.pass") %>
    <% if @minimum_password_length %>
      <em><% t("sessions.new.char_min",
        min_length: @minimum_password_length) %></em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t("sessions.new.title") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
