<% provide :title, t("users.new.title") %>
<h2><%= t "users.new.title" %></h2>

<%= form_for(resource, as: resource_name,
  url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, t("users.new.name") %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, t("users.new.email") %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, t("users.new.pass") %>
    <% if @minimum_password_length %>
    <em><% t("sessions.new.char_min",
      min_length: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("users.new.confirm") %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t("users.new.title") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
