<% provide :title, t("static_pages.home.title") %>
<div class="center jumbotron">
  <h1><%= t "static_pages.home.title" %></h1>
  <h2>
    <%= t "static_pages.home.content" %>
    <%= link_to t("static_pages.home.content1"),
      "http://www.railstutorial.org/" %></a>
    <%= t "static_pages.home.content2" %>
  </h2>
  <%= link_to t("static_pages.home.signup"), new_user_registration_path,
    class: "btn btn-lg btn-primary" %>
</div>
