<p>
  <strong><%= t "admin.answers.content" %></strong>
  <%= @question.content %>
</p>

  <li><%= @answer.answer_content %></li>

<%= link_to t("back"), [:admin, @subject, @chapter,
  @question] %> |
<%= link_to t("new"),
  new_admin_subject_chapter_question_path(@subject, @chapter, @question,
  @answer) %>
