<table>
  <thead>
    <tr>
      <th><%= t "admin.questions.content" %></th>
      <th><%= t "admin.questions.question_type" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.question_type %></td>
        <% if can? :edit, @question %>
          <td><%= link_to t("edit"),
            edit_admin_subject_chapter_question_path(@subject,
            @chapter, question), class: "btn btn-info" %>
          </td>
        <% end %>
        <% if can? :destroy, @question %>
          <td><%= link_to t("destroy"),
            admin_subject_chapter_question_path(@subject, @chapter,
            question), method: :delete,
            data: {confirm: t("confirm")},
            class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t("back"),
  admin_subject_chapter_path(@subject, @chapter), class: "btn btn-default" %>
<% if can? :new, Question %>
  <%= link_to t("new"),
    new_admin_subject_chapter_question_path(@subject, @chapter),
    class: "btn btn-success" %>
<% end %>
