<p>
  <strong><%= t "admin.questions.content" %></strong>
  <%= @question.content %>
</p>

<p>
  <strong><%= t "admin.questions.question_type" %></strong>
  <%= @question.question_type %>
</p>
<ul>
<% @answers.each do |answer| %>
  <li><%= answer.answer_content %></li>
 <% end %>
</ul>
<br/>
<%= link_to t("back"), [:admin, @subject, @chapter],
  class: "btn btn-default" %>
<%= link_to t("admin.answers.manage"),
  admin_subject_chapter_question_answers_path(@subject, @chapter,@question),
  class: "btn btn-info" %>
