<h1><%= t "subject.index.title" %></h1>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, t("users.new.name") %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit t("subjects.search") %></div>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t "subject.index.name" %></th>
      <th><%= t "subject.index.content" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
