<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= @chapter.name %></h2>
</div>
<p>
  <strong><%= @chapter.content %></strong>
</p>

<p>
  <strong><%= t "chapter.index.subject_id" %></strong>
  <%= @chapter.subject_id %>
</p>

<p>
  <strong><%= t "chapter.index.question_number" %></strong>
  <%= @chapter.question_number %>
</p>

<%= render "do_test" %>
