<p>
  <strong><%= t "admin.tests.user_name" %></strong>
  <%= @test.user.name %>
</p>
<p>
  <strong><%= t "admin.tests.date" %></strong>
  <%= @test.date %>
</p>

<p>
  <strong><%= t "admin.tests.score" %></strong>
  <%= @test.correct_answer_of_user %> /
  <%= @test.correct_answer_of_test %>
</p>

<p>
  <strong><%= t "admin.chapters.question_number" %></strong>
  <%= @test.chapter.question_number %>
</p>

<div>
  <ol type="1">
    <%= render @test.questions, test: @test%>
  </ol>
</div>
<%= link_to t("back"), admin_tests_path, class: "btn btn-info" %>
