<p>
  <strong><%= t "admin.tests.user_name" %></strong>
  <%= @test.user_id %>
</p>
<p>
  <strong><%= t "admin.tests.date" %></strong>
  <%= @test.date %>
</p>

<p>
  <strong><%= t "admin.tests.score" %></strong>
  <%= @test.score %>
</p>

<p>
  <strong><%= t "admin.chapters.question_number" %></strong>
  <%= @test.chapter.question_number %>
</p>

<div>
  <%= render @test.questions, test: @test%>
</div>
<%= link_to t("back"), admin_tests_path, class: "btn btn-info" %>
