<p>
  <strong><%= t "admin.tests.date" %></strong>
  <%= @test.date %>
</p>
<p>
  <strong><%= t "admin.tests.score" %></strong>
  <%= @test.score %>
</p>

<div>
  <%= render @test.questions, test: @test%>
</div>
<%= link_to t("back"), user_tests_path, class: "btn btn-info" %>
