<h1><%= t "chapter.index.title" %></h1>
<table>
  <thead>
    <tr>
      <th><%= t "chapter.index.name" %></th>
      <th><%= t "chapter.index.content" %></th>
      <th><%= t "chapter.index.subject_id" %></th>
      <th><%= t "chapter.index.question_number" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.name %></td>
        <td><%= chapter.content %></td>
          <td><%= chapter.subject_id %></td>
          <td><%= chapter.question_number %></td>
          <% if can? :edit, @chapter %>
            <td><%= link_to t("chapter.index.edit"),
              edit_admin_subject_chapter_path(@subject, chapter) %>
            </td>
          <% end %>
          <% if can? :destroy, @chapter %>
            <td><%= link_to t("chapter.index.destroy"),
              admin_subject_chapter_path(@subject, chapter),
              method: :delete, data: {confirm: t("subject.index.confirm")} %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if can? :new, Chapter %>
  <%= link_to t("subject.index.new"),
    new_admin_subject_chapter_path(@subject) %> |
<% end %>
<%= link_to t("subject.edit.back"), [:admin, @subject] %>
