<% @chapters.each do |chapter| %>
  <ul>
    <li style="font-size: 24px; color: black"><%= chapter.name %></li>
    <li><%= chapter.content %></li>
    <li><%= t "admin.chapters.question_number" %>
      <%= chapter.question_number %></li>
    <% if can? :edit, @chapter %>
      <%= link_to t("edit"),
        edit_admin_subject_chapter_path(@subject, chapter),
        class: "btn btn-info" %>
    <% end %>
    <% if can? :destroy, @chapter %>
      <%= link_to t("destroy"),
        admin_subject_chapter_path(@subject, chapter),
        method: :delete, data: {confirm: t("confirm")},
        class: "btn btn-danger" %>
    <% end %>
  </ul>
<% end %>
<br>
<%= link_to t("back"), [:admin, @subject],
  class: "btn btn-default" %>
<% if can? :new, Chapter %>
  <%= link_to t("new"),
    new_admin_subject_chapter_path(@subject), class: "btn btn-success" %>
<% end %>
