<div class="left-sidebar">
  <h2 style="font-size: 24px;"><%= @chapter.name %></h2>
</div>
<p>
  <strong><%= t "admin.chapters.question_number" %></strong>
  <%= @chapter.question_number %>
</p>
<p>
  <strong><%= @chapter.content %></strong>
</p>

<div>
  <ol>
  <% @questions.each do |question| %>
    <li><%= link_to question.content,
      admin_subject_chapter_question_path(@subject, @chapter, question) %></li>
  <% end %>
  </ol>
</div>
<br/>
<%= link_to t("back"), [:admin, @subject],
  class: "btn btn-default" %>
<%= link_to t("admin.questions.manage"),
  admin_subject_chapter_questions_path(@subject, @chapter),
  class: "btn btn-info" %>
