<header id="header" class="header">
  <div class="header-wrap">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-sm-3">
          <div style="width: 70px;" class="logo">
          <%= link_to image_tag("logo.png"), root_path %></div>
        </div>
        <div class="nav-wrap col-sm-9">
          <nav class="mainnav">
            <ul class="">
              <%= search_form_for search_subject do |f| %>
                <li class="field">
                  <%= f.text_field :name_cont, class: "search-box pull-right",
                    placeholder: t("layouts.search") %>
                </li>
              <% end %>
              <li><%= link_to t("layouts.home"), root_path,
                class: "a" %></li>
              <% if user_signed_in? %>
                <% if current_user.is_admin? %>
                  <li><%= link_to t("layouts.subject"),
                    admin_subjects_path, class: "a" %></li>
                  <li><%= link_to t("layouts.user"),
                    users_path, class: "a" %></li>
                  <li>
                    <%= link_to t("layouts.history"),
                      admin_tests_path, class: "a" %></li>
                <% else %>
                  <li><%= link_to t("layouts.subject"),
                    subjects_path, class: "a" %></li>
                  <li>
                    <%= link_to t("layouts.history"),
                    user_tests_path(current_user), class: "a" %></li>
                <% end %>
                <li class="">
                  <%= link_to t("layouts.account"), "#", class: "a" %>
                  <ul class="submenu">
                    <li><%= link_to t("layouts.profile"),
                      current_user, class: "a" %></li>
                    <li><%= link_to t("layouts.setting"),
                      edit_user_path(current_user), class: "a" %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to t("layouts.logout"),
                        destroy_user_session_path, method: :delete,
                          class: "a" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li>
                  <%= link_to t("layouts.subject"), subjects_path,
                    class: "a" %>
                </li>
                <li><%= link_to t("layouts.login"),
                  new_user_session_path, class: "a" %></li>
              <% end %>
              <li class="">
                <a href="#" class="a">
                  <%= t "layouts.language" %></a>
                <ul class="submenu a">
                  <li>
                    <%= link_to t("layouts.en"),
                      locale: :en %>
                  </li>
                  <li>
                    <%= link_to t("layouts.vi"),
                      locale: :vi %>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
